:root {
    --primary-font-color: #5F5F63;
}

.dashboard {
    display:grid;
    margin:0 auto;
    height:75vh;
    width:90%;
    grid-template-areas:
    'order-summary checkout'
    'all-orders checkout';
    grid-template-rows:1fr 2fr ;
    grid-template-columns: 1fr 1fr;
    overflow-y:hidden;
}

.heading {
    color: var(--primary-font-color);
    width:70%;
}

.order-summary {
    grid-area: order-summary;
    display:flex;
    flex-direction: column;
    /* background-color: magenta; */
}


.all-orders {
    grid-area: all-orders;
    color: var(--primary-font-color);
    /* background-color: maroon; */
}

.order-summary-icons {
    display:inline-block;
    display:flex;
    width:100%;
    justify-content: space-between;
}

.order-icons {
    display:flex;
    align-items: flex-end;
    /* line-height: 100%; */
    color:var(--primary-font-color);
}

.order-icons strong {
    font-size:2.5rem;
    line-height: 100%;
    margin-bottom:0;
    margin-left:5px;
    color:#B6B6B9;
    font-weight: 900;
}

.order-icon-description {
    margin-left:5px;
    color:#B6B6B9;
    font-size:1.6rem;
}

.order-icon-description strong { 
    font-weight: 900;
}

.m-t-50 {
    margin-top:50px;
}

.m-t-20 {
    margin-top:20px;
}

.m-b-40 {
    margin-bottom:40px;
}

/* All orders Table */

.all-order-data {
    width:100%;
    overflow-y: auto;
    height:300px;
}

.all-order-data::-webkit-scrollbar {
    width:0;
    background-color: transparent;
}

table {
    /* table-layout: fixed; */
    border-collapse: collapse;
    width:100%;
}

thead th {
    position: sticky;
    top:0;
    background-color:#f0f0f7;
    text-align: left;
}

table th, table tbody tr td {
    padding: 20px 20px 20px 0;
}

table tbody tr td:first-child {
    padding-left:5px;
}

table td:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

table td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


table thead th {
    text-align: left;
}

table tbody tr:nth-child(odd){
    background-color: #d1fcbd;
}

.order-status{
    border-radius: 15px;
    padding:3px 12px;
    font-size:.9rem;
    background-color:rgba(83, 237, 86, 0.5);
}

.order-status strong {
    font-weight: 800;
}

.pending {
    cursor: pointer;
    background-color: rgba(61, 66, 180, 0.25);
    color:rgba(61, 66, 180,0.75);
}

.completed {
    background-color:rgba(83, 237, 86, 0.6);
    color:rgba(0, 128, 0, 0.75);
    border:none;
}

/* Checkout */

.checkout {
    grid-area: checkout;
    color:var(--primary-font-color);
}

.billing {
    border:2px solid var(--primary-font-color);
    border-radius:30px;
    height:80%;
    width:95%;
}

.m-l-120 {
    margin-left:120px;
}

.m-b-20 {
    margin-bottom:20px;
}

.no-orders {
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform:translateY(-20%);
}