
.main-content {
    height:85vh;
    /* height:100vh; */
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.login-form, .create-account {
    display:flex;
    justify-content: center;
    align-items: center;
    height:440px;
    width:440px;
    border: 2px solid #5F5F63;
    border-radius:20px;
    background-color: #f0f7f7;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.login-form strong {
    display:block;
    margin-bottom:30px;
    font-weight: 800;
    font-size: 2.2rem;
    /* color:#4424A9; */
    /* color: #5F5F63; */
    /* color: #3b3c3d; */
    color: #4d4e4f;
}

.form {
    width:70%;
}

.login-input {
    display:block;
    margin-bottom:20px;
    border:none;
    border-bottom:1px solid #5F5F63;
    background-color: transparent;
    padding:5px 2px;
    width:100%;
    outline:none;
    font-size:1rem;
    /* color: #5F5F63; */
    color: #4d4e4f;
}

.login-submit {
    background-color: #4424A9;
    outline:none;
    border:none;
    color:white;
    display:block;
    padding:.6em 1em;
    border-radius: 5px;
    font-size:1.1rem;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition:.5s ease-in-out;
    transition-property: color, background-color;
}

.login-submit:hover {
    /* color: #06C0D7; */
    color:#4424A9;
    background-color: transparent;
}

.login-submit:focus {
    padding: .49rem .99rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.login-label {
    margin-bottom:10px;
    font-size:1.25rem;
    /* color: #5F5F63; */

    color: #4d4e4f;
}

.login-form a {
    display:block;
    text-decoration: none;
    color:#00465c;
    margin-top:10px;
    transition: .5s color ease-in-out;
}

.login-form a:hover {
    color: #0786ad;
}


.create-account {
    position: absolute;
    top:50%;
    right:10%;
    transform: translateY(-40%);
    width:500px;
    height:600px;
    padding:40px
}

.create-account .form {
    /* margin-top:20px; */
}


.create-account select, .create-account input[type="date"]{
    width:50%;
}

.create-account input {
    /* margin-left:2px; */
}