:root {
    --primary-color: rgba(52,54,137,0.98);
}

header {
    background-color: var(--primary-color);
    height:10vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.home-logo {
    width:200px;
    height:200px;
}

.home-logo img {
    width:100%;
}

.home-nav-container {
    display:flex;
    width:98%;
    justify-content: space-between;
}

#header-left-nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:30%;
}

#header-right-nav {
    display:flex;
    width:15%;
    justify-content: space-evenly;
    /* background-color:magenta; */
    align-items: center;
}

#lower-nav {
    height:5vh;
    width:100vw;
    background-color: rgba(61,66,180,0.9);
    display:flex;
    align-items: center;
    justify-content: center;
}

#lower-nav a {
    color:white;
    text-decoration: none;
    font-weight:500;
}

.lower-navigation {
    width:94%;
    /* justify-content: flex-start; */
}

.notif-set {
    height:40px;
    width:35px;
    background-color:#fff;
    border-radius: 8px;
    display:flex;
    align-items: center;
    justify-content: center;
    color:rgba(0, 0, 0, 0.8);
}

.profile-icon {
    display:flex;
    justify-content: center;
    align-items: center;
    height:40px;
    width:40px;
    border-radius: 50%;
    background-color:#fff;
    color:rgba(0, 0, 0, 0.8);
}

.pointer {
    cursor:pointer;
}

.search-bar {
    position: relative;
}

.search-bar input[type="text"] {
    border-radius:8px;
    padding:.9em;
    border:none;
    outline:none;
}

#search-icon {
    position:absolute;
    top:50%;
    transform:translate(-50%, -50%);
    right:2%;
    color:rgba(0, 0, 0, 0.4);
}